{% extends "base.html"%}


{% block content %}
{{ super() }}
    <div class="post">
        <div class="nickname">Персонаж</div>
        {% for cat, msg in get_flashed_messages(True) %}
        <div class="flMsg {{cat}}">{{msg}}</div>
        {% endfor %}
            {% for line in info %}
            <div class="show_char">{{ line }}</div>
            {% endfor %}
        <div class="dateandtime">////////////////</div>
    </div>
    <div class="sign-wrap-3">
        <span class="sign_word">***</span>
    </div>
    <div class="post">
        <div class="nickname">Статистика</div>
        <div class="show_char">Убито мобов: {{stat.mobKill}}</div>
        <div class="show_char">Убито боссов: {{stat.bossKill}}</div>
        <div class="show_char">Смертей: {{stat.death}}</div>
        <div class="show_char">Использовано вещей: {{stat.itemsUsed}}</div>
        <div class="show_char">Денег потрачено: {{stat.moneySpend}}</div>
        <div class="show_char">Купаний в фонтане: {{stat.fountainHealing}}</div>
        <div class="show_char">Попаданий по противнику: {{stat.hits}}</div>
        <div class="show_char">Критических ударов: {{stat.criticalHits}}</div>
        <div class="show_char">Успешных уклонений: {{stat.successAvoidings}}</div>
        <div class="show_char">Побегов от боссов: {{stat.leavingBossFights}}</div>
        <div class="show_char">Побегов от мобов: {{stat.leavingMobFights}}</div>
        <div class="dateandtime">////////////////</div>
    </div>
    <div class="sign-wrap-3">
        <span class="sign_word">***</span>
    </div>
{% endblock %}