{% extends "base.html"%}


{% block content %}
{{ super() }}
    <div class="post">
        <div class="nickname">Инвентарь</div>
        <div class="text"> В общем-то все просто. Каждая вещь представляет из себя 6 очков, которые можно по желанию вложить во что угодно.
        Ловкость идет за 3 очка, все остальное по 1му. Если вещь используется для атаки, периодически во время игры будет выводиться сообщение об использовании оружия.</div>

        {% for cat, msg in get_flashed_messages(True) %}
        <div class="flMsg {{cat}}">{{msg}}</div>
        {% endfor %}

            <form action="" method="post" class="items">
            {{ form.hidden_tag() }}
            {% for field in form if field.name not in ['csrf_token']%}
                {% if field.name not in ['forAttack'] and field.type != "SubmitField" %}
                <p class="linename">{{ field.label() }}</p>
                {% endif %}
                {% if field.errors %}
                    {{ field(class="invalid")}}
                {% for e in field.errors %}
                <div class="flMsg errorInv">{{ e }}</div>
                {% endfor %}
                {% else %}
                {% if field.name in ['forAttack'] %}
                <p class="linename forAttack">{{ form.forAttack() }} {{ form.forAttack.label() }} </p>
                {% else %}
                {{ field() }}
                {% endif %}
                {% endif %}
            {% endfor %}
                <p class="linename"><a href="{{ url_for('show_char')}}">К персонажу</a></p>
            </form>

        <div class="dateandtime">////////////////</div>
        </div>
    <div class="sign-wrap-3">
        <span class="sign_word">***</span>
    </div>
{% endblock %}